@charset "UTF-8";

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before,q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

@font-face {font-family:'joseL'; src:url(../font/JosefinSans-Light.ttf);}
@font-face {font-family:'joseR'; src:url(../font/JosefinSans-Regular.ttf);}
@font-face {font-family:'joseSB'; src:url(../font/JosefinSans-SemiBold.ttf);}
@font-face {font-family:'joseB'; src:url(../font/JosefinSans-Bold.ttf);} 
@font-face {font-family:'futuraB'; src:url(../font/Futura-Bold-BT.ttf);}
@font-face {font-family:'criB'; src:url(../font/CrimsonText-Bold.ttf);}
@font-face {font-family:'criR'; src:url(../font/CrimsonText-Roman.ttf);}

body {overflow:hidden;}
.page {position:absolute; left:0; width:100%; height:100%;}
.page1 {top:0; background:#000000;}
.page2 {top:100%; background:#000000;}
.page3 {top:200%; background:#000000;}
.page4 {top:300%; background:#000000;}

header {position:fixed; font-size:16px; color:white; z-index:999; top:8%; right:5%;}
header nav div.menulist ul li {margin-bottom:10px; cursor:pointer;}
header nav div.menulist ul li p {font-family:'joseSB'; position:relative; padding-right:10px;}
header nav div.menulist ul li p span.line {position:absolute; width:0%; height:1.5px; background:white; top:7px; display:block; left:-5px; transition: width 0.5s ease; }
header nav div.menulist ul li p:hover span.line {width:100%;}

.page1 .page1_back {position:absolute; width:100%;}
.page1 .page1_back img {width:100%;}
.page1 h1 {color:white; position:absolute; top:8%; left:3%; font-size:26px; font-family:'joseSB';}
.page1 h1 span {font-family:'futuraB'; display:block;}
.page1 div.main_text {position:absolute;top:30%; margin-left:20%;}
.page1 div.main_text p.top {color:#2e2320; font-size:30px; font-family:'criB';}
.page1 div.main_text h2 {font-size:95px; font-family:'joseL'; background: -webkit-linear-gradient(30deg, #080202, #79110f); -webkit-background-clip: text; -webkit-text-fill-color: transparent; opacity:0.8;}
.page1 div.main_text h2 span {display:block; font-family:'futuraB';}
.page1 div.sub_text {position:absolute;top:50%; margin-left:42%;}
.page1 div.sub_text p.sub_t {width:30%; line-height:30px; font-size:18px; font-family:'criR'; color:#52302e;}
.page1 div.sub_text div.button {display:inline-block; width:29%; margin-top:35px; cursor:pointer;}
.page1 div.sub_text div.btn {width:150px; display:block; height:15px; border:2px solid #52302e; font-family:'joseB'; text-align:center; padding:10px 0; color:#170e0c;}
.page1 div.sub_text div.button1 {float:left;}
.page1 div.sub_text div.button2 {float:right;}
.page1 div.right {position:absolute; color:white; font-family:'criR'; font-size:18px; right:1%; top:50%; -webkit-transform: rotate(-90deg);}
.page1 div.bottom {position:absolute; bottom:5%; text-align:center; width:100%;}
.page1 div.bottom p {color:white; font-family:'criR';}
.page1 div.background {position:absolute; bottom:-100px; margin-left:45%;}
.page1 div.background p {overflow:hidden; font-size:160px; font-family:'joseL'; background: -webkit-linear-gradient(#ffffff, #000000); -webkit-background-clip: text; -webkit-text-fill-color: transparent; opacity:0.3;}
.page1 div.background p span {display:block; font-family:'futuraB';}
.page1 div.left {position:absolute; color:white; top:50%; left:3%; text-align: center;}
.page1 div.left p {font-size:18px; font-family:'criR'; line-height:26px;}
.page1 div.left div.line {overflow:hidden; width:1px; display:block; background-color:white; margin:40px;}
.page1 div.left div.line1 {height:0px;}
.page1 div.left div.line2 {height:0px;}

.page2 div.page2_left {color:white; height:100%; position:relative; left:3%; display:inline-block; width: 3%;}
.page2 div.page2_left div.line {overflow:hidden; width:1px; display:block; background-color:white; margin:0 40px;}
.page2 div.page2_left div.line3 {position:absolute; top:0; height:0;}
.page2 div.page2_left div.line4 {position:absolute;bottom:0; height:0;}
.page2 div.page2_left div.read_btn {position:absolute; top:46%; margin-left:58%;}
.page2 div.page2_left div.read_btn p.paging a{width:13px; height:13px; border:2px solid white; border-radius:10px; margin-bottom:7px; cursor:pointer;}
.paging_on {background-color:white;}
/*.page2 div.page2_left div.read_btn ul li.active {background:white;}*/
.page2 div.slider_title {color:white; position:absolute; top:15%; width:60%; margin-left:15%; display:inline-block;}
.page2 div.slider_title div.title_left {float:left;}
.page2 div.slider_title div.title_left p {font-size:36px; font-family:'criR';}
.page2 div.slider_title div.title_left p span {font-size:18px; display:block; margin-bottom:10px;}
.page2 div.slider_title div.title_right {float:right; margin-top:1%;}
.page2 div.slider_title div.title_right ul {}
.page2 div.slider_title div.title_right ul li {float:left; width:100px; height:16px; font-family:'joseSB'; padding:14px 0; font-size:16px; cursor:pointer;}
.page2 div.slider_title div.title_right ul li:nth-child(1) {border-right:1px solid white;}
.page2 div.slider_title div.title_right ul li span {display:block; float:left; margin-right:10px; margin-left:25px;}
.page2 div.slider_title div.title_right ul li:nth-child(1) span {background:url(../image/save.png); width:14px; height:19px;}
.page2 div.slider_title div.title_right ul li:nth-child(2) span {background:url(../image/share.png); width:14px; height:14px; margin-top:2px;}
.page2 div.slider {position:absolute; overflow:hidden; top:28%; margin-left:18%; width:60%; color:black;}
.page2 div.slider ul {position: relative; margin:0; padding:0; list-style:none; height:500px;}
.page2 div.slider ul li {position:absolute; display:block; float:left; margin:0; padding:0; width:1000px; height:500px; display:block; background:#000;}
.page2 div.slider ul li p {font-size:20px; font-family:'criR'; color:white;}
.page2 div.slider ul li p span {font-size:24px; display:block; margin-bottom:20px; font-style:italic;}
.page2 div.slider_btn {color:white; position:absolute; bottom:15%; margin-left:18%; width:60%;}
.page2 div.slider_btn a.btn_next {float:right; color:white; text-decoration:none;}
.page2 div.slider_btn a.btn_prev {float:left; color:white; text-decoration:none;}

.page3 div.page3_back {position:absolute; width:100%;}
.page3 div.page3_back img {width:100%;}
.page3 div.page3_left {color:white; height:100%; position:relative; left:3%; display:inline-block;}
.page3 div.page3_left div.line {overflow:hidden; width:1px; display:block; background-color:white; margin:0 40px;}
.page3 div.page3_left div.line5 {position:absolute; top:20%; height:0;}
.page3 div.page3_left p.left_top {font-size:18px; font-family:'criR'; line-height:26px; margin-top:70%; text-align:center;}
.page3 div.page3_left p.left_top span {background:url(../image/down_arrow.png) no-repeat; width:19px; height:10px; display:block; margin-bottom:30px; margin-left:40%;}
.page3 div.middle {position:absolute; color:white; top:20%; width:50%; margin-left:25%;}
.page3 div.middle div.book_img {float:left;}
.page3 div.middle div.text {float:right; width:50%; margin-top:10%;}
.page3 div.middle div.text p.main_text {font-size:45px; font-family:'joseL';}
.page3 div.middle div.text p.main_text span {display:block; font-family:'futuraB';}
.page3 div.middle div.text p.author {font-family: 'criR'; font-size:22px; margin-top:15px;}
.page3 div.middle div.text p.price {font-size:24px; margin-top:30px; font-family:'futuraB';}
.page3 div.middle div.text div.buy_btn {width:80%; display:block; margin-top:50PX; text-align:center;}
.page3 div.middle div.text div.buy_btn div.buy_btn1 {width:40%; border:2px solid white; float:left; padding:7px 0;}
.page3 div.middle div.text div.buy_btn div.buy_btn1 .number {display: inline-block; width: 60px; text-align: center; border:none; background:none; color:#fff; font-size:22px;}
.page3 div.middle div.text div.buy_btn div.buy_btn1 .plus, .minus {width: 22px; color: #fff; border:none; background:none; font-size:22px; cursor:pointer;}
.page3 div.middle div.text div.buy_btn div.buy_btn2 {width:55%; height:16px; border:2px solid white; float:right; padding:13px 0; cursor:pointer;}
.page3 div.page3_background {position:absolute; bottom:-50px; margin-left:10%;}
.page3 div.page3_background p {overflow:hidden; font-size:160px; font-family:'joseL'; background: -webkit-linear-gradient(#ffffff, #000000); -webkit-background-clip: text; -webkit-text-fill-color: transparent; opacity:0.5;}
.page3 div.page3_background p span {display:block; font-family:'futuraB';}

.page4 div.page4_back {position:absolute; bottom:0; right:0; width:40%; opacity:0;}
.page4 div.page4_back img {width:100%;}
.page4 div.page4_left {color:white; height:100%; position:relative; left:3%; display:inline-block; }
.page4 div.page4_left div.line {overflow:hidden; width:1px; display:block; background-color:white; margin:0 40px;}
.page4 div.page4_left div.line6 {position:absolute; top:20%; height:0;}
.page4 div.page4_left p.left_top {font-size:18px; font-family:'criR'; line-height:26px; margin-top:70%; text-align:center;  position:relative; left:-15px;}
.page4 div.page4_left p.left_top span {background:url(../image/down_arrow.png) no-repeat; width:19px; height:10px; display:block; margin-bottom:30px; margin-left:40%;}
.page4 div.page4_main {position:absolute; color:white; top:20%; width:60%; margin-left:20%;}
.page4 div.page4_main p.page4_p1 {font-size:20px; line-height:35px; font-family:'criR'; font-style:italic;}
.page4 div.page4_main p.page4_p1 span {display:block; font-size:45px; font-style:normal; margin-bottom:30px;}
.page4 div.page4_main p.page4_p2 {font-size:20px; line-height:35px; font-family:'criR'; margin-top:80px; width:60%;}
.page4 div.page4_main p.page4_p3 {font-size:16px; font-family:'joseSB'; margin:50px 0;}
.page4 div.page4_main ul {}
.page4 div.page4_main ul li {float:left; margin-right:30px;}
.page4 div.page4_main ul li p {font-size:20px; font-family:'criR';}
.page4 div.page4_main ul li p span {font-size:14px; font-family:'joseSB'; display:block;}















