@charset "UTF-8";

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before,q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

@font-face {font-family:'joseL'; src:url(../font/JosefinSans-Light.ttf);}
@font-face {font-family:'joseR'; src:url(../font/JosefinSans-Regular.ttf);}
@font-face {font-family:'joseSB'; src:url(../font/JosefinSans-SemiBold.ttf);}
@font-face {font-family:'digital'; src:url(../font/digital-7i.ttf);} 
@font-face {font-family:'kaneda'; src:url(../font/kaneda.ttf);}


body {overflow:hidden;}
.page {position:absolute; left:0; width:100%; height:100%; text-align:center;}
.page1 {top:0; background:#171717;}
.page2 {top:100%; background:#171717; z-index:2; height:100%;}
.page3 {top:200%; background:#171717;}
.page4 {top:300%; background:#171717;}
.page5 {top:400%; background:#171717;}


header div#nav {display:block; }
header div#nav div.menu_bar {width:30px; height:30px; z-index:9999; position:fixed; right:40px; top:35px; cursor: pointer; transition: all 200ms ease-in-out; padding:13px 12px 9px 12px; border-radius:30px; background:none;}
header div#nav div#menulist {width:98%; height:96%; background-color:rgba(0,0,0,0.9); z-index:999; position:fixed; display:block; left:1%; top:2%; display:none;}
header div#nav div#menulist ul {width:100%; margin-top:8%;}
header div#nav div#menulist ul li {text-align:center; margin-bottom:4%;}
header div#nav div#menulist ul li a {font-size:60px; color:white; text-decoration:none; font-family:'joseSB';} 

a.button:link, a.button:visited {
	position: relative;
	display: block;
	padding: 14px 15px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
	border-radius: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.button:link:after, a.button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 50%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.button:link:hover:after, a.button:visited:hover:after {
	height: 450%;
}
a.button:link, a.button:visited {
	position: relative;
	display: block;
	padding: 14px 15px;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.button.menu {
	border: 2px solid transparent;
}
a.button.menu:after {
	background: #ff3057;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}


.menu_bar::before,
.menu_bar::after {
  background: #ff3057;
  content: '';
  position: absolute;
  z-index: -1;
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_bar:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  border-radius:100%;
}

.line {
  background: white;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  position: relative;
  transition: all 200ms ease-in-out;
}

.arr_t, .arr_m, .arr_b {
  transition: 200ms ease-in-out;
}

.menu_bar.clarrow {
    width:30px; height:30px; z-index:9999; position:fixed; right:40px; top:35px; cursor: pointer; transition: all 200ms ease-in-out; padding:13px 12px 9px 12px; border-radius:30px; border:2px solid #ff3057;
}
.menu_bar.clarrow .arr_t {
    width:30px;
    margin-left:0px;
    transform: rotate(45deg);
    top: 12px;
}

.menu_bar.clarrow .arr_m {
    opacity:0;
}


.menu_bar.clarrow .arr_b {
    width:30px;
    margin-left:0px;
    transform: rotate(-45deg);
    margin-top: -12px;
}


div.page1 div.wrap_1 {position:relative; width:100%;}
div.page1 div.wrap_1 div.draw_box {position:absolute; display:block; width:20%; height:300px;font-size:18px; line-height:20px; margin-left:40%; margin-top:18%; z-index:3;}
div.page1 div.wrap_1 div.draw_box svg#Layer_1 {position:absolute; top:-70px; left:-35px;}
div.page1 div.wrap_1 div.draw_box div.show_box {background-color:rgba(0,0,0,0.8); width:300px; height:300px; display:block; transform: rotate(45deg); top:5px; left:42px; position:absolute; opacity:0;}

div.page1 div.wrap_1 h1 {color:white; position:absolute; text-align:center; width:80%; z-index:50; margin-top:12%; margin-left:10%; opacity:0;}
div.page1 div.wrap_1 div#main_img1 {float:left; position:relative; left:-55%; opacity:0; width:55%;}
div.page1 div.wrap_1 div#main_img2 {float:right; position:absolute; z-index:1; right:60%; left:55%; opacity:0; width:55%; margin-left:45%;}
div.page1 div.wrap_1 div#main_img1 img {width:100%;}
div.page1 div.wrap_1 div#main_img2 img {height:100%; width:100%;}

/*두번째 페이지*/

div.page2 div.wrap_2 {height:100%; display:inline-block; width:100%;}
div.page2 div.wrap_2 div.wrap_2_t {position:relative; margin-top:100px;}
div.page2 div.wrap_2 div.wrap_2_t h2 {font-size:26px; position:absolute; width:8%; text-align:center; z-index:9; color:#fff; background-color:#171717; margin-left:46%;}
div.page2 div.wrap_2 div.wrap_2_t div#line_drawing {width:0%; height:2px; background-color:#fff; position:absolute; margin-top:13px; opacity:1;}
div.page2 div.wrap_2 div#lineupall {margin-top:10%; position:relative;}
div.page2 div.wrap_2 div#lineupall div#p_wrap {width:50%; display:inline-block; margin-left:25%;}
div.page2 div.wrap_2 p.date { padding:10px; border-bottom: 1px #ccc text-decoration: none; text-transform:uppercase; font-size: 16px; color: #fff; display:block; float:left}
#line_up { width:100%; margin:20px 0px; }
div.page2 div.wrap_2 #line_up .tile { float:left; min-height:100px; max-height:150px; width:10%;}
div.page2 div.wrap_2 #line_up .tile:hover { opacity: 0.5; } 
div.page2 div.wrap_2 #line_up .date1 { background:#00C5CD;}
div.page2 div.wrap_2 #line_up .date2 { background: #CC3232;}
div.page2 div.wrap_2 #line_up .date3 {  background: #ddd; }
p:hover { cursor:pointer; background: #333; color:#eee; }


div.page3 div.wrap_3 {height:100%; display:inline-block; width:100%;}
div.page3 div.wrap_3 div.wrap_3_t {position:relative; margin-top:100px;}
div.page3 div.wrap_3 div.wrap_3_t h2 {font-size:26px; position:absolute; width:8%; text-align:center; z-index:9; color:#fff; background-color:#171717; margin-left:46%;}
div.page3 div.wrap_3 div.wrap_3_t div#line_drawing2 {width:0%; height:2px; background-color:#fff; position:absolute; margin-top:13px; opacity:1;}
div.page3 div.wrap_3 div#timeall {margin-top:10%; position:relative; height:70%;}
div.page3 div.wrap_3 div#timeall div#p_wrap_time {width:50%; display:inline-block; margin-left:25%;}
div.page3 div.wrap_3 p.time { padding:10px; border-bottom: 1px #ccc text-decoration: none; text-transform:uppercase; font-size: 16px; color: #fff; display:block; float:left}

div.page3 div.wrap_3 div#time_up {height:90%; margin-top:50px; position:relative; display:block;}
div.page3 div.wrap_3 div#time_up ul {height:100%;}
div.page3 div.wrap_3 div#time_up ul li {float:left; border-right:2px solid white; width:20%; height:100%; display:block; color:gray;}
div.page3 div.wrap_3 div#time_up ul li:nth-child(1) {margin-left:20%;}
div.page3 div.wrap_3 div#time_up ul li:nth-child(3) {border-right:0px;}
div.page3 div.wrap_3 div#time_up ul li div.tile {height:8%; width:100%;}
div.page3 div.wrap_3 div#time_up ul li div.time1 {background-color:indianred;}
div.page3 div.wrap_3 div#time_up ul li div.time2 {background-color:aquamarine;}
div.page3 div.wrap_3 div#time_up ul li div.time3 {background-color:cadetblue;}


div.page4 div.wrap_4 {height:100%; display:inline-block; width:100%;}
div.page4 div.wrap_4 div.wrap_4_t {position:relative; margin-top:100px;}
div.page4 div.wrap_4 div.wrap_4_t h2 {font-size:26px; position:absolute; width:8%; text-align:center; z-index:9; color:#fff; background-color:#171717; margin-left:46%;}
div.page4 div.wrap_4 div.wrap_4_t div#line_drawing3 {width:0%; height:2px; background-color:#fff; position:absolute; margin-top:13px; opacity:1;}
div.page4 div.wrap_4 div.countdown {display:block; width:80%; height:200px; margin:0 auto; margin-top:150px; color:transparent;}
div.page4 div.wrap_4 div.countdown div#timer {font-size:200px; color:#ff3057; font-family:'kaneda'; font-style:italic;}
div.page4 div.wrap_4 div.tic_circle { width:40%; height:200px; display:block; margin:0 auto; margin-top:40px; transform: rotate(-10deg); }
div.page4 div.wrap_4 div.ticket {margin-top:150px;}
div.page4 div.wrap_4 div.ticket ul {}
div.page4 div.wrap_4 div.ticket ul li {border:1px solid white; width:33%; display:block; float:left; height:100px; color:white;}

div.page5 div.wrap_5 {height:100%; display:inline-block; width:100%;}
div.page5 div.wrap_5 div.wrap_5_t {position:relative; margin-top:100px;}
div.page5 div.wrap_5 div.wrap_5_t h2 {font-size:26px; position:absolute; width:8%; text-align:center; z-index:9; color:#fff; background-color:#171717; margin-left:46%;}
div.page5 div.wrap_5 div.wrap_5_t div#line_drawing4 {width:0%; height:2px; background-color:#fff; position:absolute; margin-top:13px; opacity:1;}
div.page5 div.wrap_5 div.map {width:100%; height:70%; border:1px solid white; display:block; margin-top:150px; position:relative; color:white;}
div.page5 div.wrap_5 div.map div.map_icon1 {position:absolute; top:20%; left:10%; }
div.page5 div.wrap_5 div.map div.map_icon2 {position:absolute; top:40%; right:30%;}
div.page5 div.wrap_5 div.map div.map_icon3 {position:absolute; top:80%; left:40%;}
div.page5 div.wrap_5 div.map div.mapping {border: 2px solid white; border-radius:20px; width:30px; height:30px; display:block; box-shadow:0 0 5px #f25f82, 0 0 10px #f25f82, 0 0 20px #ff3057, 0 0 20px #ff3057, 0 0 20px #ff3057, 0 0 25px #ff3057, 0 0 25px #ff3057, 0 0 30px #ff3057, 0 0 30px #ff3057, 0 0 40px #ff3057, 0 0 50px #ff3057, 0 0 60px #f25f82;}
div.page5 div.wrap_5 div.map_icon {display:inline-block; margin-top:50px;}
div.page5 div.wrap_5 div.map_icon ul li {float:left; margin-right:10px;}
div.page5 div.wrap_5 div.map_icon a {color:white;}
